@font-face {
  font-family: 'Cormorant Infant';
  src: url('fonts/CormorantInfant-Bold.eot');
  src: local('☺'), url('../fonts/CormorantInfant-Bold.woff') format('woff'), url('../fonts/CormorantInfant-Bold.ttf') format('truetype'), url('fonts/CormorantInfant-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Infant';
  src: url('fonts/CormorantInfant-Regular.eot');
  src: local('☺'), url('../fonts/CormorantInfant-Regular.woff') format('woff'), url('../fonts/CormorantInfant-Regular.ttf') format('truetype'), url('fonts/CormorantInfant-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Bold.eot');
  src: local('☺'), url('../fonts/Raleway-Bold.woff') format('woff'), url('../fonts/Raleway-Bold.ttf') format('truetype'), url('fonts/Raleway-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Medium.eot');
  src: local('☺'), url('../fonts/Raleway-Medium.woff') format('woff'), url('../fonts/Raleway-Medium.ttf') format('truetype'), url('fonts/Raleway-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Regular.eot');
  src: local('☺'), url('../fonts/Raleway-Regular.woff') format('woff'), url('../fonts/Raleway-Regular.ttf') format('truetype'), url('fonts/Raleway-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}