.btn {
    width: 328px;
    height: 70px;
    background: #70908B;
    box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
    border-radius: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    border: none;
    transition: all .5s;
    &--main {
        margin-top: 34px;
    }
    &--form {
        display: block;
        margin: 0 auto;
        position: absolute;
        bottom: -35px;
        left: 50%;
        transform: translateX(-50%);
    }
    &:hover {
        background: linear-gradient(90.14deg, #B0D3CE -2.41%, #FFEDCE 99.79%);
        color: #70908B;
    }

}